<a href="https://colab.research.google.com/github/solobala/DFD26/blob/main/%D0%94%D0%97_ML_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Предсказываем стоимость мед страховки

## Загужаем необходимые библиотеки

In [ ]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

## Загружаем данные

Собраны данные:
- age: возраст
- sex: пол
- bmi: индекс массы тела
- children: количество детей, охваченных медицинским страхованием / количество иждивенцев
- smoker: курение
- region: регион (northeast, southeast, southwest, northwest).
- charges: индивидуальные медицинские расходы (его и хотим предсказать)

In [ ]:
# Загрузите данные из файла insurance.csv в переменную df
df=pd.read_csv('insurance.csv')

In [ ]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## Смотрим статистику, что нет пропусков и отсуствующих значений

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [ ]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

## Преобразуем строковые данные

In [ ]:
# Заменяем пол и курение на числа
df['sex']=df['sex'].map({'male':1, 'female':0})
df['smoker']=df['smoker'].map({'yes':1,'no':0})

In [ ]:
df.head()

   age  sex     bmi  children  smoker     region      charges
0   19    0  27.900         0       1  southwest  16884.92400
1   18    1  33.770         1       0  southeast   1725.55230
2   28    1  33.000         3       0  southeast   4449.46200
3   33    1  22.705         0       0  northwest  21984.47061
4   32    1  28.880         0       0  northwest   3866.85520

In [ ]:
# Заменяем регион на набор отдельных колонок (is_southwest, is_southeast и тп)
df = pd.get_dummies(df, columns=['region'])
df.head()

,age,sex,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,27.900,0,1,16884.92400,0,0,0,1
1,18,1,33.770,1,0,1725.55230,0,0,1,0
2,28,1,33.000,3,0,4449.46200,0,0,1,0
3,33,1,22.705,0,0,21984.47061,0,1,0,0
4,32,1,28.880,0,0,3866.85520,0,1,0,0

## Формируем признаки и целевую переменную

In [ ]:
## Сформируйте признаки и целевую переменную
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges',
       'region_northeast', 'region_northwest', 'region_southeast',
       'region_southwest'],
      dtype='object')

In [ ]:
X = df[['age', 'sex', 'bmi', 'children', 'smoker',
       'region_northeast', 'region_northwest', 'region_southeast',
       'region_southwest']]
y=df['charges']

## Разделяем данные на выборку для обучения/проверки

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.33, random_state=42)

## Создаем и обучаем модель линейной регресии

In [ ]:
# Создайте и обучите модель
lr=LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [ ]:
lr.coef_

array([  261.56839546,   121.12368626,   347.09728999,   371.76216879,
       23700.98328681,   507.5006912 ,   167.88229534,  -378.99888994,
        -296.38409659])

## Получаем предсказание и оцениваем качество

In [ ]:
# Получите предсказание
lr.predict(X_test)

array([ 8.82606227e+03,  7.07049035e+03,  3.70072387e+04,  9.43874358e+03,
        2.71054194e+04,  1.10465861e+04,  1.88624644e+01,  1.72523912e+04,
        8.99013079e+02,  1.12456503e+04,  2.80235203e+04,  9.44082581e+03,
        4.91514073e+03,  3.83563962e+04,  4.04067181e+04,  3.70626007e+04,
        1.50617743e+04,  3.57679201e+04,  8.82727363e+03,  3.15143024e+04,
        3.58467072e+03,  1.01973618e+04,  2.41258189e+03,  7.14449819e+03,
        1.11882495e+04,  1.30416187e+04,  1.46471197e+04,  5.96355827e+03,
        9.84381270e+03,  1.97815341e+03,  8.88963616e+03,  1.31899373e+04,
        4.28350509e+03,  3.12109677e+03,  4.47648391e+03,  1.32816950e+04,
        1.79796800e+03,  8.76731322e+03,  3.32839271e+04,  3.25154423e+04,
        3.52549393e+03,  4.36305806e+03,  1.42155764e+04,  1.16249235e+04,
        8.59241947e+03,  1.22404977e+04,  5.14350997e+03,  2.85886161e+03,
        3.53572103e+04,  8.98561953e+03,  1.57657268e+04,  2.08265066e+03,
        1.24454352e+04,  1.47105737e+03,  1.34067998e+04,  1.26621476e+04,
        4.37905842e+03,  3.22168570e+04,  1.34297883e+04,  1.29778957e+04,
        1.42864038e+04,  1.02446976e+04,  1.64921956e+04,  7.63579020e+03,
        1.18919713e+04,  3.93181292e+03,  2.64923934e+04,  1.06886215e+04,
        1.96003501e+03,  6.35587242e+03,  1.08662253e+04,  1.15606989e+04,
        1.08113219e+04,  8.97822809e+03,  1.18997044e+04,  6.48889943e+03,
        7.18270793e+03,  1.07850431e+04,  6.20893626e+03,  8.57616573e+03,
        3.60853055e+03,  3.68788955e+04,  6.22711331e+03,  3.07624242e+04,
        3.48860356e+04,  3.55206839e+04,  6.72860978e+03,  1.31176666e+04,
        9.87581315e+03,  1.45731970e+04,  1.77572220e+04,  3.51084136e+04,
        3.30081626e+04,  6.14255873e+03,  3.19216406e+04,  9.53538605e+03,
        2.92928687e+04,  3.37286476e+03,  2.81080755e+04,  5.61684195e+03,
        5.31228002e+03,  1.77081227e+03,  1.15068511e+04,  1.51843536e+04,
        1.18611681e+04,  4.10622786e+03,  9.71335954e+03,  3.16268516e+04,
       -1.44680517e+02,  3.25647427e+04,  3.34974457e+03,  1.01313873e+04,
        1.43607317e+04,  3.16192023e+04,  1.14460540e+04,  3.94836541e+03,
        1.33142603e+04,  3.17293473e+04,  7.79943778e+03,  3.23970827e+03,
        8.37985837e+03,  1.06938470e+04,  1.52404608e+04,  5.53296028e+03,
        3.57814176e+03,  1.01770324e+04,  1.06770369e+04,  1.12374353e+04,
        1.43376462e+04,  7.37133049e+03,  5.09899954e+03,  8.99096931e+03,
        9.03261328e+03,  1.26329834e+04,  8.35585961e+03,  1.55726317e+04,
        8.56011058e+03,  3.19907994e+04,  3.59635996e+04,  3.16364544e+04,
        5.98234034e+03,  1.26855786e+04,  5.90337426e+03,  1.46040742e+04,
        2.28190410e+03,  3.30380744e+04,  6.26012864e+03,  4.97905247e+03,
        1.43185770e+04,  7.00414812e+03,  3.87075683e+04,  3.01061636e+03,
        5.79622360e+03,  3.18107255e+04,  1.16255302e+04,  8.62383352e+03,
        1.50574440e+04,  9.54701044e+03,  2.68504604e+04,  3.36065045e+04,
        1.45346484e+04,  1.51174888e+03,  1.32606170e+04,  2.21833722e+03,
        5.37246575e+03,  1.14428842e+04,  4.00352611e+04,  3.66601009e+04,
        3.41581644e+04,  3.82615885e+03,  7.35168690e+03,  8.62349259e+03,
        1.27015119e+04,  4.83764180e+03,  1.93074233e+03,  3.19946121e+04,
        2.51764025e+04,  1.75992856e+04,  2.62150471e+04,  1.01892812e+04,
        3.73820569e+04, -7.25074733e+02,  6.81346187e+03,  7.73216736e+03,
        4.21057501e+03,  5.08576809e+03,  5.94011886e+03,  4.23154787e+03,
        1.50832122e+04,  1.13370575e+04,  6.89969382e+03,  2.40510944e+03,
        1.37400574e+03,  3.20437843e+04,  1.65034383e+04,  1.18632920e+04,
        1.08308373e+03,  1.24661733e+04,  1.41588217e+03,  8.73401147e+03,
        1.75091850e+03,  3.41544129e+04,  1.07476283e+04,  2.53222262e+03,
        2.53074909e+04,  2.60412742e+04,  9.60055035e+03,  1.49018900e+03,
        1.32996491e+04,  9.00496762e+02,  1.05361473e+04,  1.02918400e+04,
        1.70344231e+04,  2.67026242e+04,  6.68168945e+03,  5.11526504e+03,
        5.50324589e+03,  1.28948257e+04,  1.08956865e+04,  8.08814058e+03,
        5.12541897e+03,  1.25815855e+04,  1.37521640e+04,  3.57108815e+04,
        4.25508983e+03,  2.88293505e+04, -1.11009524e+03,  2.94279677e+03,
        1.09434919e+04,  1.53853109e+04,  5.09188141e+03,  6.83926172e+03,
        3.63750221e+03,  3.14887537e+04,  7.19975284e+03,  1.24157965e+04,
        5.61622260e+03,  9.71291496e+03,  3.61299841e+04,  4.28439015e+03,
        9.63191840e+03,  3.12429696e+04,  5.74302740e+03,  4.24497765e+03,
        1.06326494e+03,  4.93864675e+03,  4.38251596e+03,  6.56654022e+03,
        1.83744520e+04, -1.60764870e+03,  2.27534877e+03,  1.07215814e+04,
        3.04892623e+03,  1.01991572e+04,  3.62210040e+03,  4.78520399e+03,
        1.26162402e+04,  6.29963619e+03,  8.32665641e+03,  7.38242449e+03,
        8.77041104e+03,  1.05101214e+04,  2.76896259e+04,  3.91678461e+04,
        1.18357678e+04,  7.73367230e+03,  4.09688454e+04,  1.23523787e+04,
        6.93442893e+03,  8.30890654e+03,  8.91768147e+03,  1.06596435e+04,
        9.92632614e+03,  1.76813435e+04,  9.58869922e+02,  2.35892770e+04,
        1.28402288e+04,  3.33164130e+04,  5.11368057e+03,  1.31254884e+04,
        1.04379052e+04,  1.79654996e+04,  9.73709188e+03,  1.16119791e+04,
        3.23450441e+04,  3.33501038e+03,  1.34950174e+04,  3.93631409e+04,
        5.50922816e+03,  6.25984200e+03,  3.36136248e+03,  1.15538572e+04,
        2.53127720e+04,  1.41025822e+04,  8.87573373e+03,  1.01620863e+04,
        1.33884050e+04,  8.14967867e+02,  2.17786997e+03,  3.07229909e+04,
        3.01759300e+04,  1.35217316e+04,  3.56519742e+03,  2.54327786e+04,
        1.32932591e+04,  3.06888118e+04,  3.42285987e+03,  3.90094267e+04,
        1.10684686e+04,  4.68240166e+03,  6.65467635e+03,  2.31173487e+03,
        2.59709419e+04,  1.45107716e+04,  4.95992801e+02,  1.27004775e+04,
        1.26488823e+04,  1.50672435e+04,  3.48893438e+04,  1.43643523e+04,
        3.15407921e+04,  9.92486345e+03,  1.82995923e+04,  6.00869370e+03,
        8.71273152e+03,  9.36681912e+03,  1.51101915e+04,  9.11164041e+03,
        8.45679126e+03,  1.52839076e+04,  1.28304199e+04,  1.49674235e+04,
        7.54090349e+03,  2.59788858e+04,  9.17782826e+03,  1.84351904e+03,
        3.95627485e+03,  1.43825375e+04,  3.56981402e+04,  9.57668328e+03,
        1.28138673e+04,  5.18150016e+03,  4.80723423e+03,  3.84772853e+03,
        2.73485187e+03,  8.97201201e+03,  6.93221155e+03,  2.27701744e+03,
        1.30325482e+04,  8.89479248e+03,  5.89950137e+03,  6.05301512e+02,
        9.43676149e+03,  4.76276466e+03,  3.30430842e+04,  2.84663279e+04,
        3.69387806e+04,  5.68686563e+03,  8.45204819e+03,  8.17854843e+03,
        3.55960874e+03,  3.16651208e+04,  7.10048505e+03,  2.82164176e+04,
        3.62324857e+04,  6.86066160e+03,  1.30504721e+04,  9.82989457e+03,
        8.27065074e+03,  1.27081207e+04,  3.01790544e+04,  1.73403370e+04,
        1.18855687e+04,  3.94956279e+03, -1.32590761e+03,  1.22128115e+04,
        3.09877909e+04,  1.29061024e+04,  1.13466817e+04,  7.98305035e+03,
        3.57487558e+03,  7.21381447e+03,  7.23900227e+03,  1.06079303e+04,
        3.37460643e+04,  3.93149122e+04,  1.20066894e+04,  8.33868145e+03,
        1.66325573e+04,  1.55873204e+04,  9.61842409e+03,  9.40578835e+03,
        8.77486213e+03,  2.66153315e+03,  1.02249240e+04,  3.63808801e+03,
        1.06877197e+04,  1.61830739e+04,  6.53366172e+03,  2.07536702e+03,
        1.45026471e+04,  1.30295219e+02,  1.40053911e+04,  8.50305616e+03,
        1.29996697e+04,  3.64328349e+04,  3.35989381e+04,  3.53645588e+04,
        5.69984592e+03,  6.14464095e+03,  1.63538749e+04,  8.25082803e+03,
        3.76716054e+04,  5.01990821e+03,  8.19448122e+03,  9.99311861e+03,
        3.00477431e+04,  5.23792319e+03,  3.45703138e+03,  1.68162066e+04,
        3.64986956e+03,  5.97369241e+03,  1.03671606e+04, -9.54261823e+02,
        2.92556894e+04,  8.38662383e+03,  1.00190292e+04,  5.50359263e+03,
        7.56468330e+03,  1.12744934e+04,  2.90018638e+04,  9.28679023e+03,
        1.07930132e+04,  6.46498344e+03,  4.17724632e+03,  8.91941319e+02,
        7.65106331e+03,  1.10553806e+04,  1.01992927e+04,  8.55379389e+03,
        6.14957649e+03,  4.12597083e+03])

In [ ]:
# Оцените качество, при помощи метода mean_squared_error для тестовой выборки
mean_squared_error(y_test, lr.predict(X_test))

35090225.72562567

In [ ]:
mean_squared_error(y_train, lr.predict(X_train))

37268977.7668648

## Делаем предсказание для одного человека

In [ ]:
# Заполняем данные по конкретному человеку
data = [{
    "age": 20,
    "sex": 1,
    "bmi": 30,
    "children": 2,
    "smoker": 1,
    "region_northeast": 0,
    "region_northwest": 0,
    "region_southeast": 1,
    "region_southwest": 0
}]

In [ ]:
df_person = pd.DataFrame(data)
df_person.head()

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
0,20,1,30,2,1,0,0,1,0

In [ ]:
lr.predict(df_person)

array([26897.20420086])